<!-- detalle-oferta.component.html -->
<!--
<h2>Detalle de la Oferta</h2>

<div *ngFor="let oferta of oferta" class="grid-item">
  <h3>{{ oferta.nombre}}</h3>
  <p>{{ oferta.categoria }}</p>
</div>
-->

<div class="container-eventos">
  <h2>Detalle de la Oferta</h2>
  <div class="grid-container">
      <div *ngFor="let oferta of oferta" class="grid-item">
        <h3>{{ oferta.nombre }}</h3>
        <p>{{ oferta.categoria }}</p>
       
     <!--   <button (click)="onBotonClick()">Insertar Ticket</button>
        
        <button [routerLink]="['/detalle-oferta', oferta.id_oferta]">Adquirir</button>-->
      </div>
    </div>
  </div>