<!-- detalle-oferta.component.html -->

<h2>Detalle de la Oferta</h2>

<div *ngFor="let oferta of oferta" class="grid-item">
  <h3>{{ oferta.nombre}}</h3>
  <p>{{ oferta.categoria }}</p>
</div>





   

<!--

    <p><strong>Nombre:</strong> {{ oferta.nombre}}</p>
    <p><strong>Categoría:</strong> {{ oferta.categoria }}</p>
  <--  <p><strong>Descripción:</strong> {{ oferta.descripcion }}</p> 
  </div>
  <ng-template #noData>
    <p>No se encontraron detalles para esta oferta.</p>
  </ng-template>
-->