/* exito.component.css */
.success-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Asegura que ocupa toda la altura de la ventana */
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4; /* Fondo claro */
  color: #4CAF50; /* Color de texto */
}

.success-image {
  width: 100%; /* O cualquier otro tamaño específico que prefieras */
  height: auto;
  max-width: 600px; /* Ajusta esto según tus necesidades */
}

.success-message h2 {
  color: #4CAF50; /* Verde para el mensaje de éxito */
  margin-top: 20px;
}

.success-message p {
  color: #333; /* Color de texto más oscuro para el párrafo */
  font-size: 18px;
}
