<!-- header.component.html -->
<div class="header-toptext">
  <p class="texto">"Explorando mundos entre páginas"</p>
</div>
<div class="header-top">
    <img src="assets/logo-crisol.png" alt="Logo Crisol">
    <input type="text" placeholder="Buscar..." class="espaciado">
    <button class="boton-icono"><i class="fa fa-search"></i></button>
    <i class="fa fa-user"></i>
    <i class="fa fa-gift"></i>
    <i class="fa fa-bell"></i>
  </div>
  <div class="header-bottom">
    <nav>
      <ul class="menu">
        <li><a href="/">Inicio</a></li>
        <li><a href="/promociones">Promociones</a></li>
        <li><a href="/experiencias">Experiencias</a></li>
        <li><a href="/lanzamientos">Lanzamientos</a></li>
      </ul>
    </nav>
  </div>
  
