/* header.component.css */
.header-toptext {
  background-color: rgb(255, 217, 0);
  padding: 0 20px;
  width: 100%; /* Ancho del contenedor */
  margin: 0 auto; /* Centra el contenedor en la página */
  text-align: center; /* Centra el texto dentro del contenedor */
}

.header-top {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 10px;
}

.header-top .boton-icono {
  background: transparent !important; /* Quitar cualquier fondo */
  border: none !important;
  padding: 0 !important;
  cursor: pointer;
}
.header-top .fa {
  font-size: 24px !important; /* Aumentar el tamaño del icono */
  color: #000 !important; /* Color del ícono */
  margin-right: 10px; /* Espaciado entre iconos */
}

.header-bottom {
  margin: 0;
  background-color: rgb(255, 217, 0);
  padding: 10px 20px; /* Ajustado para responsividad */
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos de la lista se ajusten al tamaño de la pantalla */
}

nav ul li {
  padding: 0 10px;
}

.texto {
  font-size: 30px; /* Tamaño de la fuente */
  color: #333; /* Color del texto */
  font-family: 'Brush Script MT'; /* Familia de fuentes, asegúrate de tener esta fuente cargada o disponible */
}

.menu {
  list-style-type: none; /* Quita los puntos de la lista */
  padding: 0; /* Elimina el relleno predeterminado */
}

.menu li {
  display: inline-block; /* Muestra los elementos de la lista en línea */
  margin-right: 10px; /* Espaciado ajustado para pantallas pequeñas */
}

.menu li a {
  font-size: 18px; /* Tamaño de la fuente */
  text-decoration: none; /* Quita el subrayado predeterminado de los enlaces */
  color: #000000; /* Cambia el color del texto a negro */
}

.espaciado {
  width: auto; /* Ancho automático para ajustarse al contenedor */
  max-width: 600px; /* Máximo ancho permitido */
  padding: 10px;
  margin: 0 20px; /* Espacio uniforme */
  border-radius: 10px;
}

.boton-icono {
  background: none !important; /* Quitar cualquier fondo */
  border: none !important;
  cursor: pointer;
}

.fa {
  font-size: 24px; /* Aumentar el tamaño del icono */
  color: #000; /* Color del ícono */
  margin-right: 10px; /* Espaciado entre iconos */
}

/* Estilos adicionales para responsividad y menú hamburguesa */
.menu-btn {
  display: none;
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }
/*
  .menu.active, .header-bottom.active {
    display: flex;
  }
*/
  .menu.active {
    display: flex; /* El menú se muestra cuando está activo */
    flex-direction: column; /* Los ítems del menú se muestran en columna */
    width: 100%; /* Asegura que el menú ocupa todo el ancho disponible */
  }

  .header-bottom.active {
    display: block; /* Asegura que el contenedor del menú se muestre cuando está activo */
  }



  

  nav ul {
    flex-direction: column;
  }
/*
  .header-bottom {
    padding: 10px 20px; /* Reducido para ajustarse a pantallas pequeñas 
  }

  */
  .header-bottom {
    display: none; /* Oculta el contenedor del menú cuando no está activo */
  }
  .menu li {
    margin-right: 0; /* Ajustado para pantallas pequeñas */
  }
}
